@import '../../styles/base/variables';

.task {
  width: 912px;
  height: 45px;
  margin: 0 auto;
  margin-top: 15px;
}

.task--mark {
  display: block;
  float: left;

  width: 30px;
  height: 30px;
  margin: 7.5px 0;
  margin-right: 10px;

  transition: .25s;

  border-radius: 50%;
  background: no-repeat center;
  background-size: 30px;

  &-done {
    background-image: url(../../images/done.svg);
  }

  &-expected {
    background-image: url(../../images/circle.svg);
  }

  &:hover {
    cursor: pointer;

    border-radius: 50%;
    background-color: $hover-grey;
  }
}

.task--text {
  display: block;
  float: left;
  overflow: hidden;

  box-sizing: border-box;
  width: 756px;
  height: 100%;
  padding: 0 10px;

  color: $light-grey;

  font-family: $main-font;
  font-size: $main-font-size;
  line-height: 45px;

  &:hover {
    cursor: pointer;
  }
}

.task--delete-button {
  float: left;

  box-sizing: border-box;
  width: 35px;
  height: 100%;
  margin-right: 56px;
  margin-left: 25px;

  transition: .25s;

  background: url(../../images/delete.svg) no-repeat center;
  background-size: 35px;

  font-family: $main-font;
  font-size: 14px;

  &:hover {
    cursor: pointer;

    background-image: url(../../images/delete-hover.svg);
  }
}
