@import '../../styles/base/variables';
@import '../../styles/base/clear';

.filter {
  margin-top: 15px;
}

.filter--buttons-panel {
  width: 390px;
  margin: 0 auto;

  @extend %clear;
}

.filter--button {
  float: left;

  box-sizing: border-box;
  width: 130px;
  height: 30px;

  transition: .25s;

  color: $light-grey;
  border: 1px solid $light-grey;
  outline: none;
  background-color: #fff;

  font-family: $main-font;
  font-size: 14px;

  &:nth-child(even) {
    border-right: none;
    border-left: none;
  }

  &-selected {
    font-weight: 700;
    background-color: $hover-grey;
  }

  &:hover {
    cursor: pointer;

    background-color: $hover-grey;
  }
}
