@import '../../../styles/base/variables';
@import '../../../styles/base/clear';

.change-task--background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: .7;
  background-color: #000;
}

.change-task--form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  width: 620px;
  height: 370px;
  margin: auto;

  border: 2px solid $light-grey;
  background-color: #fff;
}

.change-task--cancel {
  @extend %clear;
}

.change-task-title {
  height: 45px;
  margin-left: 10px;

  color: $dark-grey;

  font-family: $main-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
}

.change-task--cancel-button {
  float: right;

  width: 25px;
  height: 25px;
  margin: 10px;

  transition: .25s;

  border-radius: 50%;
  background: url(../../../images/cancel.svg) no-repeat center;
  background-size: 25px;

  &:hover {
    cursor: pointer;

    border-radius: 50%;
    background-color: $hover-grey;
  }
}

.change-task--area {
  display: block;

  box-sizing: border-box;
  width: 596px;
  height: 250px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 5px 10px;

  resize: none;

  color: $light-grey;
  border: 1px solid $light-grey;
  outline: none;

  font-family: $main-font;
  font-size: $main-font-size;
}

.change-task--confirm-button {
  float: right;

  box-sizing: border-box;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  margin-top: 15px;

  transition: .25s;

  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 3px;
  outline: none;
  background-color: #fff;

  font-family: $main-font;
  font-size: $main-font-size;

  &:hover {
    cursor: pointer;

    border-radius: 3px;
    background-color: $hover-grey;
  }
}
