@import "clear";

.container {
  box-sizing: border-box;
  width: $breakpoint-mobile-portrait;
  margin: 0 auto;

  @extend %clear;

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    width: $breakpoint-mobile-landscape;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: $breakpoint-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }

  @media screen and (min-width: $breakpoint-desktop-large) {
    width: $breakpoint-desktop-large;
  }
}

.row {
  @extend %clear;
}

@for $i from 1 through $greed-columns {
  .col-#{$i} {
    position: relative;

    float: left;

    box-sizing: border-box;
    width: $i * $breakpoint-mobile-portrait / $greed-columns - $greed-gutter * 2;
    margin: 0 $greed-gutter;

    @media screen and (min-width: $breakpoint-mobile-landscape) {
      width: $i * $breakpoint-mobile-landscape / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      width: $i * $breakpoint-tablet / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      width: $i * $breakpoint-desktop / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-desktop-large) {
      width: $i * $breakpoint-desktop-large / $greed-columns - $greed-gutter * 2;
    }
  }
}
